html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-rows: 75% 25%;
  user-select: none;

  .boardGridContainer {
    margin: 5vmin;
  }

  .selectionerContainer {
    margin: 5vmin;
  }
}
