.board {
  height: 100%;
  width: 100%;
  border: 1px solid black;

  .boardGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .cell {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: grid;

    &.selected {
      background-color: turquoise;
    }

    &.selectedPencil {
      background-color: yellow;
    }

    .value {
      margin: auto;
      font-size: 250%;
    }
  }
}
